.todoItem {
    /* border: solid 1px; */
    width: 40%;
    padding: 1%;
    margin: 1% 30%;
    border-radius: 4px;
    background: white;
}
.container {
    background: grey;
    width: 60%;
    padding: 2% 1%;
    margin: 1% 20%;
}
.button {
    padding: 6px;
    margin-left: 1%;
    background: white;
    color: black;
}
.inputText {
    width: 36%;
    padding: 8px;
    margin-left: 2%;
    border: white;
    border-radius: 4px;
}